@font-face {
  font-family: Conv_FS-Ahkio-Regular;
  src: url("../fonts/FS-Ahkio-Regular.eot");
  src: url("../fonts/FS-Ahkio-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FS-Ahkio-Regular.woff2") format("woff2"), url("../fonts/FS-Ahkio-Regular.woff") format("woff"), url("../fonts/FS-Ahkio-Regular.ttf") format("truetype"), url("../fonts/FS-Ahkio-Regular.svg#Conv_FS-Ahkio-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: UTM-AVO;
  src: url("../fonts/UTM-AVO.eot");
  src: url("../fonts/UTM-AVO.eot?#iefix") format("embedded-opentype"), url("../fonts/UTM-AVO.woff2") format("woff2"), url("../fonts/UTM-AVO.woff") format("woff"), url("../fonts/UTM-AVO.ttf") format("truetype"), url("../fonts/UTM-AVO.svg#UTM-AVO") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: utm-avobold;
  src: url("../fonts/utm-avobold.eot");
  src: url("../fonts/utm-avobold.eot?#iefix") format("embedded-opentype"), url("../fonts/utm-avobold.woff2") format("woff2"), url("../fonts/utm-avobold.woff") format("woff"), url("../fonts/utm-avobold.ttf") format("truetype"), url("../fonts/utm-avobold.svg#utm-avobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: UTM-AvoItalic;
  src: url("../fonts/UTM-AvoItalic.eot");
  src: url("../fonts/UTM-AvoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UTM-AvoItalic.woff2") format("woff2"), url("../fonts/UTM-AvoItalic.woff") format("woff"), url("../fonts/UTM-AvoItalic.ttf") format("truetype"), url("../fonts/UTM-AvoItalic.svg#UTM-AvoItalic") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'utm-avobold', sans-serif;
  font-size: 12px; }

.large-container {
  margin: 0 auto; }

.medium-container {
  margin: 0 auto; }

.small-container {
  margin: 0 auto; }

section h2 {
  font-size: 28px;
  font-family: 'Conv_FS-Ahkio-Regular', sans-serif;
  text-transform: uppercase;
  color: #ff0000; }

ul {
  list-style-type: none; }

a {
  outline: none !important; }

.container-helper {
  padding: 0 80px; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue; }

h2 a, h3 a {
  text-decoration: none !important; }

section h3 a {
  font-family: 'utm-avobold', sans-serif;
  font-size: 14px;
  color: #00327a;
  font-weight: 700; }

.details em {
  font-family: 'UTM-AvoItalic', sans-serif;
  font-size: 12px;
  color: #757575;
  line-height: 1;
  font-style: normal; }

.scontent h2 {
  font-family: 'Conv_FS-Ahkio-Regular', sans-serif;
  text-transform: uppercase;
  font-size: 57px;
  color: #ff0000;
  margin-bottom: 24px;
  margin-top: 24px; }

.footer p {
  font-size: 25px;
  text-align: center; }

.footer p a {
  text-decoration: none; }

.introduce h2 {
  background: transparent url("../images/bullet-icon.png") 0 0 no-repeat;
  background-size: contain;
  padding-left: 45px; }

.list-item,
.introduce p {
  font-size: 18px;
  padding: 0; }

.introduce ul {
  padding: 0; }

.list-item li strong {
  color: #00327a; }

.list-item li a {
  color: #0083fe; }

.list-item li a.hashtag {
  color: #ff0000; }

.introduce strong {
  color: #00327a; }

.partition-units .infos h2 {
  font-family: 'utm-avobold', sans-serif;
  font-size: 26px;
  padding: 10px;
  margin: 0;
  background: #ccc;
  color: #002a57; }

.partition-units .infos {
  background: #ebebeb; }

.partition-units .infos .item {
  padding-top: 20px;
  padding-bottom: 20px; }

.logo {
  display: block;
  width: 376px;
  height: 127px;
  background: transparent url(../images/logo.png) 0 0/contain no-repeat;
  max-width: 220px;
  margin-left: 25px; }

.header {
  min-height: 992px; }

#wrapper {
  background: transparent url("../images/bg-main.jpg") top center/contain no-repeat; }

.info-useful,
.join-program {
  background: #fff; }

.introduce {
  padding-bottom: 30px; }

.tagline {
  max-width: 80%;
  margin: 0 auto;
  width: 1681px; }

.footer p {
  margin: 30px 0; }

.info-useful .details.higher h3 {
  min-height: 52px; }

.details h3 {
  margin: 5px 0 5px; }

.join-program form label {
  color: #002a57;
  font-size: 16px;
  text-align: left !important;
  position: relative;
  top: -5px; }

.form-join {
  padding: 20px 50px;
  -webkit-box-shadow: 0px 0px 6px -2px #191919;
  -moz-box-shadow: 0px 0px 6px -2px #191919;
  box-shadow: 0px 0px 6px -2px #191919;
  background: rgba(255, 255, 255, 0.8); }

.join-program form .note {
  font-size: 22px;
  color: #757575;
  margin-bottom: 20px;
  margin-top: 5px; }

.join-program form .note.small_note {
  font-size: 16px;
  font-family: 'UTM-AvoItalic', sans-serif; }

.join-program form .form-control {
  font-family: 'UTM-AvoItalic', sans-serif; }

.join-program form p.title {
  color: #ff0000;
  font-size: 30px;
  font-family: 'Conv_FS-Ahkio-Regular', sans-serif; }

.join-program form p.title + p {
  color: #002a57;
  font-size: 16px; }

.join-program form label.check:before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 25px;
  max-width: 25px;
  background: transparent url("../images/check-normal.png") 0 0/contain no-repeat;
  position: relative;
  top: 5px; }

.join-program form label.checked:before {
  background: transparent url("../images/check-selected.png") 0 0/contain no-repeat; }

.join-program form label.check {
  color: #757575;
  text-transform: uppercase;
  white-space: nowrap;
  font-style: italic; }

.join-program form .question {
  list-style-type: none;
  overflow: hidden; }

.join-program form .question li {
  float: left; }

.join-program form .code-parent label {
  color: #ff0000; }

.join-program form .form-control {
  border: 2px solid #002a57; }

.join-program form .code-parent #code {
  border: 2px solid #ff0000; }

.join-program form .btn {
  background: #031dc3;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 48px;
  font-size: 24px;
  margin: 30px auto 10px;
  float: none;
  display: block; }

#code_text,
.modal#modal_thanks .btn {
  background: #031dc3;
  color: #fff; }

.modal#modal_thanks .btn {
  margin: 0 auto;
  display: block;
  padding: 10px 50px;
  font-size: 24px; }

.form-horizontal .control-label span {
  font-family: 'UTM-AvoItalic', sans-serif;
  font-size: 12px; }

.join-program .answer {
  display: none; }

.join-program .answer.selected_answer {
  display: block; }

.modal h4 {
  color: #ff0000;
  font-family: 'Conv_FS-Ahkio-Regular', sans-serif;
  font-size: 26px; }

.modal#modal_thanks h4 {
  color: #002a57; }

.modal p {
  font-size: 16px; }

.modal#modal_thanks p {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  padding: 0 30px;
  color: #676767; }

.modal#modal_thanks p span {
  color: #031dc3; }

.modal#modal_thanks p span.hashtag {
  color: #ff0000; }

.modal#modal_thanks p.note {
  color: #ff0000;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 15px; }

.modal .modal-content {
  padding: 0 40px; }

.modal p.bullet {
  background: transparent url("../images/bullet-icon.png") left 4px/contain no-repeat;
  background-size: 15px 15px;
  word-wrap: break-word;
  margin-bottom: 30px; }

.modal p.bullet:before {
  content: '';
  display: inline-block;
  width: 20px; }

.modal a {
  color: #1105fd; }

.join-program .answer-yes form label.check {
  font-size: 12px; }

.join-program .answer-yes form label.check:before {
  max-width: 20px;
  top: 10px; }

.modal .modal-header,
.modal .modal-footer {
  border: 0; }

.modal .modal-dialog .modal-content {
  background: #fff url("../images/popup-bg.png") right bottom/contain no-repeat;
  background-size: 200px 100px; }

.join-program {
  background: transparent url(../images/partition-bg.png) left -343px/100% no-repeat;
  padding-bottom: 120px; }

.join-program {
  position: relative; }

.join-program:after {
  content: '';
  width: 661px;
  height: 438px;
  max-width: 520px;
  display: block;
  background: transparent url(../images/parition-bg-double-color.png) left bottom/contain no-repeat;
  padding-bottom: 120px;
  position: absolute;
  bottom: 0;
  left: -150px;
  z-index: 2; }

.thumbnails .img img {
  min-width: 100%;
  min-height: 100%; }

.is_loading .loading {
  opacity: 1;
  visibility: visible; }

.loading {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 50;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

.is_loading {
  overflow: hidden; }

.modal-header .close {
  position: absolute;
  top: 2px;
  right: 6px; }

.ui-widget {
  font-size: 1.5em; }

p.note_sm {
  font-size: 17px; }

.join-program form select.form-control option {
  font-family: 'UTM-AVO', sans-serif;
  color: #000;
  font-weight: normal; }

.join-program form select.form-control option:hover {
  font-weight: bold; }

.chosen-container-single .chosen-single {
  height: 34px;
  padding: 3px 0 3px 5px;
  background: #fff;
  border: 2px solid #002a57;
  font-family: 'UTM-AvoItalic', sans-serif; }

.chosen-container .chosen-results li {
  font-family: 'UTM-AVO', sans-serif; }

.chosen-container .chosen-results li.highlighted {
  background-color: transparent;
  background-image: none;
  color: #000;
  font-family: 'utm-avobold', sans-serif; }

.chosen-container-single .chosen-drop {
  margin-top: 5px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #aaa; }

.chosen-container-active.chosen-with-drop .chosen-single {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 2px solid #002a57; }

.chosen-container.chosen-with-drop .chosen-drop:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: -5px;
  right: 5px;
  display: block; }

.chosen-container-single .chosen-single:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #afafaf;
  position: absolute;
  top: 50%;
  right: 5px;
  display: block;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

@media (min-width: 1024px) {
  .header {
    min-height: 592px; }
  .join-program {
    background-position-y: 295px; } }

@media (min-width: 1200px) {
  .header {
    min-height: 752px; }
  .join-program {
    background-position-y: 187px; } }

@media (min-width: 1280px) {
  .join-program {
    background-position-y: 90px; } }

@media (min-width: 1366px) {
  .header {
    min-height: 792px; }
  .join-program {
    background: transparent url(../images/partition-bg.png) left -30px/100% no-repeat; } }

@media (min-width: 1440px) {
  .header {
    min-height: 852px; }
  .join-program {
    background-position-y: -72px; } }

@media (min-width: 1600px) {
  .header {
    min-height: 952px; }
  .join-program {
    background-position-y: -154px; } }

@media (min-width: 1920px) {
  .header {
    min-height: 1120px; }
  .join-program {
    background-position-y: -343px; } }

@media (min-width: 320px) and (max-width: 1000px) {
  .modal .modal-content {
    padding: 0 5px; }
  .join-program {
    background: transparent; }
  .container-helper {
    padding: 0 15px; }
  section h2 {
    font-size: 20px; }
  .introduce h2 {
    padding-left: 26px; }
  .list-item, .introduce p {
    font-size: 15px; }
  .join-program .container-helper {
    padding: 0; }
  .form-join {
    padding: 10px 15px; }
  .scontent h2 {
    font-size: 30px; }
  .join-program form .note {
    font-size: 13px; }
  .join-program form label {
    font-size: 14px; }
  .join-program form p.title {
    font-size: 20px; }
  .join-program form p.title + p {
    font-size: 13px; }
  .partition-units .infos h2 {
    font-size: 16px; }
  .footer p {
    font-size: 16px; }
  .join-program:after {
    max-width: 310px;
    height: auto;
    padding-bottom: 160px;
    left: -70px;
    bottom: 20px; }
  .join-program form .note.small_note {
    font-size: 12px; }
  form .btn {
    position: relative;
    z-index: 3; }
  .logo {
    margin: 0 auto;
    max-width: 145px;
    height: 50px; }
  #wrapper {
    background-position-y: 50px; }
  .header {
    min-height: 225px; }
  p.note_sm {
    font-size: 14px; } }

@media (min-width: 375px) and (max-width: 1000px) {
  .header {
    min-height: 250px; } }

@media (min-width: 414px) and (max-width: 1000px) {
  .header {
    min-height: 270px; } }

@media (min-width: 568px) and (max-width: 1000px) {
  .header {
    min-height: 370px; } }

@media (min-width: 600px) and (max-width: 1000px) {
  .header {
    min-height: 410px; }
  .logo {
    margin: 0 auto 15px;
    max-width: 180px;
    height: 80px; } }

@media (min-width: 678px) and (max-width: 1000px) {
  .header {
    min-height: 430px; } }

@media (min-width: 678px) and (max-width: 1000px) {
  .header {
    min-height: 480px; } }

@media (min-width: 900px) and (max-width: 1000px) {
  .header {
    min-height: 590px; } }

@media (min-width: 980px) and (max-width: 1000px) {
  .header {
    min-height: 620px; }
  #wrapper {
    background-position-y: 60px; } }

@media (min-width: 1024px) and (max-width: 1120px) {
  #wrapper {
    background-position-y: 70px; }
  .header {
    min-height: 660px; } }
